body{
    padding-top: 30px;
    padding-bottom: 30px;
}

h1{
    color:red;
}

.create{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.list .single{
    padding: 15px;
    box-shadow: 0 0 98px 0 rgba(0, 0, 0, 0.1);
}

.list .single .illustration{
    text-align: center;
}

form .row{
    margin-bottom: 30px;
}

.single .texte{
    padding: 15px;
}

.single .create{
    margin-bottom: 0;
}