{{ form_start(form) }}
    <div class="row">
        <div class="col-12 col-lg-4">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    {% if image is defined %}
        <div class="illustration">
            <img src="{{ asset('uploads/articles/') ~ image }}" alt="" class="img-fluid">
        </div>
    {% endif %}
    <div class="row">
        <div class="col-12 col-lg-4">
            {{ form_label(form.image) }}
            {{ form_widget(form.image, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-12 col-lg-4">
            {{ form_label(form.firstname) }}
            {{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="col-12 col-lg-4">
            {{ form_label(form.city) }}
            {{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-4">
            {{ form_label(form.status) }}
            {{ form_widget(form.status) }}
        </div>
    </div>

    <div class="create">
        <button class="btn btn-info">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}