{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-uppercase">Modifier un article</h1>

        {{ include('article/_form.html.twig', {'image': article.image}) }}

        <div class="create">
            <a class="btn btn-info" href="{{ path('article_index') }}">Revenir à la liste</a>
        </div>

        {{ include('article/_delete_form.html.twig') }}
    </div>
{% endblock %}