{% extends 'base.html.twig' %}

{% block title %}Liste des Articles{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-uppercase">Liste des Articles</h1>
        <div class="create">
            <a class="btn btn-info" href="{{ path('article_new') }}">Ecrire un Article</a>
        </div>

        <div class="row list justify-content-around">
            {% for article in articles %}
                <div class="col-12 col-lg-3 single">
                    <h3 class="text-center">{{ article.title }}</h3>
                    <p class="date">Mis en ligne le {{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</p>
                    <p class="date">Mis à Jour le {{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
                    <div class="illustration">
                        <img src="{{ asset('uploads/articles/') ~ article.image }}" alt="" class="img-fluid">
                    </div>
                    <div class="texte">{{ article.description|nl2br }}</div>
                    <div class="create">
                        <a class="btn btn-success" href="{{ path('article_show', {'id': article.id}) }}">Lire l'article</a>
                    </div>
                </div>
            {% else %}
                <p class="text-center">Il n'y a pas encore d'articles sur ce site</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
