{% extends 'base.html.twig' %}

{% block title %}Ecrire un article{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-uppercase">Ecrire un article</h1>

        {{ include('article/_form.html.twig') }}

        <div class="create">
            <a class="btn btn-info" href="{{ path('article_index') }}">Revenir à la liste</a>
        </div>
    </div>
{% endblock %}
