{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center text-uppercase">{{ article.title }}</h1>
        <div class="create">
            <a class="btn btn-success" href="{{ path('article_index') }}">Revenir à la liste</a>
        </div>
        <div class="create">
            <a class="btn btn-info" href="{{ path('article_edit', {'id': article.id}) }}">Mettre à jour l'Article</a>
        </div>

        <div class="single">
            <p class="date">Mis en ligne le {{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</p>
            <p class="date">Mis à Jour le {{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
            <h3 class="text-center">{{ article.title }} à {{ article.city }}</h3>
            <p class="author">Par {{ article.firstname }} {{ article.name }}</p>
            <div class="texte">{{ article.description|nl2br }}</div>
            <div class="illustration">
                <img src="{{ asset('uploads/articles/') ~ article.image }}" alt="" class="img-fluid">
            </div>
        </div>
    </div>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
